* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://fonts.googleapis.com"'),
         url('https://fonts.gstatic.com"'),
         url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
    font-display: fallback;
  }
h1 {
    /* ПО ФАКТУ */
position: absolute;
width: 616px;
height: 169px;
right: 0;
left: 0;
margin: auto;
top: 340px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 100;
font-size: 128px;
line-height: 169px;
/* identical to box height */
color: #000000;
}
h3 {
    position: absolute;
width: 600px;
height: 42px;
right: 0;
left: 0;
margin: auto;
top: 475px;
padding-left: 6px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 200;
font-size: 32px;
line-height: 42px;
letter-spacing: 0.215em;

color: #000000;
}
.background {
    position: absolute;
width: 100%;
height: 1210px;
left: 0px;
top: 421px;

background: #8289C4;
}
.background-white {
    position: absolute;
width: 100%;
height: 2151px;

background: #FFFFFF;
}
.theme {
    position: fixed;
    width: 52px;
    height: 80px;
    left: 29px;
}
.glass {
    position: absolute;
}
.theme {
    cursor: pointer;
}
.theme-light {
position: absolute;
left: 13px;
}
.start-button {

    box-sizing: border-box;

position: absolute;
width: 184px;
height: 69px;
right: 0;
left: 0;
margin: auto;
top: 648px;
background-color: transparent;
border: 3px solid #FFFFFF;

}
.more {
    position: absolute;
    top: 30px;
    right: 0px;
    width: 165px;
    height: 52px;
    background-color: #8289C4;
    cursor: pointer;
    
}
.more-text {
    position: relative;
    width: 134px;
    height: 34px;
    top: 9px;
   left: 0;
   right: 0;
   margin: 0 auto;
    font-family: 'JetBrains Mono';

font-style: normal;
font-weight: 200;
font-size: 24px;
line-height: 32px;
text-align: center;

color: #FFFFFF;
}
.arrow-more {
    margin: auto 0;
    width: 20px;
    height: 20px;
    color: #FFFFFF;
    justify-self: center;
    align-self: center;
    vertical-align: middle;

    transition: transform 0.3s;
}
.more:hover {
    width: 165px;
    height: 162px;
    display: flex;
}
.more:hover .arrow-more { 
    transform: rotate(-180deg); 

}
.links-under-more {
    visibility: hidden;
    position: absolute;
    width: 130px;
    height: 90px;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.setup-text {
    font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 100;
font-size: 20px;
line-height: 26px;

color: #FFFFFF;
}
.telegram-text, .liked-text, .main-text {
    text-decoration: none;
}
.main-text {
    color: #A9A9A9;
}
.liked-text:active, .telegram-text:active {
    color: #FFFFFF;
}
.telegram-text:hover, .liked-text:hover {
    text-decoration: underline;
}
.telegram-text:visited, .liked-text:visited {
    color: #FFFFFF;
}
.more:hover .links-under-more {
    visibility: visible; /* show on hover */
    transition-delay: 0.0s;
}
.lets-go {    
    position: absolute;
width: 184px;
height: 53px;
top: -3px;
right: -3px;
left: -3px;
margin: auto;
text-align: center;
font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* identical to box height */
color: #ffffff;
padding-top: 18px;
    text-decoration: none;
    color: #ffffff;
}
.lets-go:hover {
    text-decoration: none;
    color: #000000;
}
.start-button:hover {
    border: 3px solid #000000;
    color: #000000;
}
.info-card {
    position: absolute;
width: 887px;
height: 546px;
line-height: 546px;
right: 0;
left: 0;
margin: auto;
top: 986px;
display: flex;

}
.card-for-image {
    position: relative;
    width: 443.5px;
    height: 546px;
}
.card-for-text {
    position: relative;
    width: 443.5px;
    height: 546px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.yacor {
    position: absolute;
    width: 329px;
    height: 3px;
    left: 502px;
    top: 915px;
    
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 160%;

}
.image {
    float: left;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    color: #CDCDCD;
}
.text-block {
    position: absolute;
    width: 330px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#textincard {
    position: relative;
    width: 330px;
    height: 300px;

    display: flex;
    align-items: center;

    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    /* or 38px */
    line-height: normal;
    text-align: center;
    
}
.line {
    border: none;
    border-top: 1.5px solid #000000;
    border-color: #000000;
    
}
.line-up {
    position: relative;
width: 209px;
height: 0px;
margin: 0 auto;
top: 18%;
}
.line-down {
    position: absolute;
width: 209px;
height: 0px;
margin: 0 auto;
bottom: 18%;
left: 50%;
transform: translateX(-50%);
}
.info-tab {
    display: none;
    position: absolute;
width: 313px;
height: 201px;
left: 540px;
top: 311px;

background: rgba(206, 208, 232, 0.99);
box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);


}
.border-proof {
    position: absolute;
    width: 275px;
    height: 0px;
    left: 19px;
    top: 43px;
    
    border: none;
    border-top: 1.5px solid #000000;
    border-color: #000000;
}
.info-black {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 839px;
    top: 498px;
    border: #CDCDCD solid 1.5px;
    border-radius: 50%;
    background: none;
    
}
.i {
    position: absolute;
width: 28px;
height: 25.5px;
top: -1.5px;
left: -1.5px;
padding-top: 6px;
padding-left: 1.5px;
padding-right: 1.5px;

text-align: center;
font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 200;
font-size: 14px;
line-height: 18px;

color: #CDCDCD;
}
.info-black:hover {
    border: #000000 solid 1.5px;
}
.i:hover {
    color: #000000;
}
.buttons-under-card {
    position: absolute;
width: 887.38px;
height: 131px;
right: 0;
left: 0;
margin: auto;
top: 1565px;
user-select: none;
-webkit-user-select: none;
overflow: visible;
display: flex;
}
.button-option {
    position: relative;
    width: 60.86px;
    height: 131px;
    background: #CDCDCD;
    cursor: pointer;
 

    display: flex;
    right: 0;
}
.button-option:hover {
    position: relative;
    background: #A9A9A9;
    height: 131px;
    width: 300.86px; 
    display: flex;
    transform: translateX(-240px);
}
.dots {
    position: absolute; 
    align-self: center;
    justify-self: center;
    margin: 0 auto;


    right: 23.5px; /* половина ширины дива */
    
}
.dot {
     width: 13px; 
    height: 13px; 
    background-color: #ffffff; 
    border-radius: 50%;
    margin: 10px 0;
}
.tablo {
    visibility: hidden;
    width: 225px;
    height: 110px;
    align-self: center;
    margin-left: 3.2%;
    display: flex;
    flex-direction: column;
}
.not-right {
    position: relative;
    width: 225px;
    height: 50px;
    background-color: #8289C4;
    cursor: pointer;

    font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 200;
font-size: 18px;
text-align: center;
line-height: 50px;
color: #FFFFFF;
}
.not-right:hover {
    background-color:#A9CAE8;
}
.middle {
    flex-grow: 1;
  }
.proof {
    position: relative;
    width: 225px;
    height: 50px;
    background-color: #8289C4;
    cursor: pointer;

    font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 200;
font-size: 18px;
text-align: center;
line-height: 50px;
color: #FFFFFF;
}
.proof:hover {
    background-color: #A9CAE8;
}
.button-option:hover .tablo {
    visibility: visible; /* show on hover */
    transition-delay: 0.0s;
  }
.button-unlike {
    position: absolute;
    width: 300.32px;
    height: 131px;
    left: 91.79px;
    background: #CA7C7C;
    cursor: pointer;
}
.button-unlike:hover {
    position: absolute;
    background: #CA5151;
    
}
.button-more {
    position: absolute;
    width: 157.64px;
    height: 131px;
    left: 423.05px;
    background: #99B59C;
    cursor: pointer;
}
.button-more:hover {
    background: #61AE69;
}
.button-like {
    position: absolute;
    width: 275.38px;
    height: 131px;
    left: 612px;
    background: #A9CAE8;
    cursor: pointer;
}
.button-like:hover {
    background: #4F97DA;
}
.text-on-button {
position: absolute;
width: 230.48px;
height: 42px;
right: 0;
left: 0;
margin: auto;
top: 45px;
text-align: center;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 200;
font-size: 32px;
line-height: 42px;

color: #FFFFFF;

}
.text-on-button-more {
    position: absolute;
width: 57.87px;
height: 42px;
right: 0;
left: 0;
margin: auto;
top: 45px;
text-align: center;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 200;
font-size: 32px;
line-height: 42px;

color: #FFFFFF;
}
.tg {
    position: absolute;
    top: 1930px;
}
.telegram-link {
    position: absolute;
width: 245px;
height: 38px;
left: 0;
right: 0;
margin: auto;
top: 1930px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 200;
font-size: 24px;
line-height: 160%;
/* or 38px */

text-align: center;
text-decoration: none;

color: rgba(0, 0, 0, 0.5);
}
.telegram-link:hover {
    color: #000000;
}