* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://fonts.googleapis.com"'),
         url('https://fonts.gstatic.com"'),
         url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
    font-display: fallback;
  }
  .main-phrase {
    position: absolute;
    width: 100%;
    height: 166px;
    top: 50vh;
    transform: translateY(-50%);
    }
h1 {
    /* ПО ФАКТУ */
    text-align: center;
    margin-bottom: -35px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 100;
font-size: 128px;
line-height: 169px;
/* identical to box height */
color: #000000;
}
h3 {
text-align: center;
padding-left: 10px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 200;
font-size: 32px;
line-height: 42px;
letter-spacing: 0.215em;

color: #000000;
}
.background {
    position: absolute;
width: 100%;
height: 1270px;
left: 0px;
top: 50vh;

background:#8db8e1;
}
.background-white {
    position: absolute;
width: 100%;
height: 2151px;

background: #FFFFFF;
}
.theme {
    position: fixed;
    width: 52px;
    height: 80px;
    left: 29px;
}
.glass {
    position: absolute;
}
.theme {
    cursor: pointer;
}
.theme-light {
position: absolute;
left: 13px;
}
.more {
    position: absolute;
    top: 30px;
    right: 0px;
    width: 165px;
    height: 52px;
    background-color:#8db8e1;
    cursor: pointer;
}
.more-text {
    position: relative;
    width: 134px;
    height: 34px;
    top: 9px;
   left: 0;
   right: 0;
   margin: 0 auto;
    font-family: 'JetBrains Mono';

font-style: normal;
font-weight: 200;
font-size: 24px;
line-height: 32px;
text-align: center;

color: #FFFFFF;
}
.arrow-more {
    margin: auto 0;
    width: 20px;
    height: 20px;
    color: #FFFFFF;
    justify-self: center;
    align-self: center;
    vertical-align: middle;

    transition: transform 0.3s;
}
.more:hover {
    width: 165px;
    height: 162px;
    display: flex;
}
.more:hover .arrow-more { 
    transform: rotate(-180deg); 

}
.links-under-more {
    visibility: hidden;
    position: absolute;
    width: 130px;
    height: 90px;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.setup-text {
    font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 100;
font-size: 20px;
line-height: 26px;

color: #FFFFFF;
}
.new-fact, .main-text {
    text-decoration: none;
}
.new-fact:hover, .main-text:hover {
    text-decoration: underline;
}
.main-text:active {
    color: #FFFFFF;
}
.new-fact:active {
    color: #000;
}
.liked-text {
    color: #A9A9A9;
}
.new-fact:visited  {
    color: #FFFFFF;
}
.main-text:visited {
    color: #FFFFFF;
}
.more:hover .links-under-more {
    visibility: visible; /* show on hover */
    transition-delay: 0.0s;
}
.telegram-link {
    position: absolute;
width: 245px;
height: 38px;
left: 0;
right: 0;
margin: auto;
top: 1930px;

font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 200;
font-size: 24px;
line-height: 160%;
/* or 38px */

text-align: center;
text-decoration: none;

color: rgba(0, 0, 0, 0.5);
}
.telegram-link:hover {
    color: #000000;
}